/*
    Created on : 30 мая 2022 г., 18:56:55
    Author     : svinokot
*/

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
	font-family: 'Ubuntu', sans-serif;
}

h1, h2, h3, h4, h5 {
	padding: 0;
	margin: 0;
	color: darkslateblue;
}

body, html {
	margin: 0;
	height: 100%
}

body {
	background: #3d344c;

	display: flex;
	justify-content: center;
	align-items: center;
}

.frame {
	background: antiquewhite;
	border: 2px solid brown;
	outline: 2px solid silver;
	box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5);
	border-radius: 4px;
}

.frame .header,
.frame .content {
	padding: 20px;
}

.frame .header {
	border-bottom: 2px dashed burlywood;
}

.frame .content {

}